body {
  text-align: center;
  font-family: arial;
  background-color: black;
  background-image:radial-gradient(white, black);
}

h1, h2 {
  color: #808080;
  text-align: center;
}

h1 {
  margin-left: 157px;
}


table, th, td {
  border: 1px solid black;
  border-radius: 5px;
}

table.center {
  margin-left:auto;
  margin-right:auto;
}

.princ {
  margin-top: 150px;
  margin-right: 200px;
  margin-left: 200px;
  border: 1px solid #C0C0C0;;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 3px 3px 6px 0 #A9A9A9;
  background: #F5F5F5;

}

.img{
  height:250px;
  width: 200px;
  border: solid white 2px;
  border-radius: 150px;
}

.float {
  float: right;
  clear: both;
}

.header{
  margin-bottom: 200px;
}

.titre{
  padding-top: 90px;
}

a:hover{
  color: #808080;
}

.formation{
  margin-top: 250px;
  margin-right: 200px;
  margin-left: 200px;
  border: 1px solid #C0C0C0;;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 3px 3px 6px 0 #A9A9A9;
  background: #F5F5F5;
}

.competence{
  margin-top: 70px;
  margin-right: 200px;
  margin-left: 200px;
  border: 1px solid #C0C0C0;;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 3px 3px 6px 0 #A9A9A9;
  background: #F5F5F5;
}

.exp {
  margin-top: 70px;
  margin-right: 200px;
  margin-left: 200px;
  border: 1px solid #C0C0C0;;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 3px 3px 6px 0 #A9A9A9;
  background: #F5F5F5;
}

.renseign {
  float: left;
}

.logo {
  margin-top: 72px;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 49px;
  border: 1px solid #C0C0C0;;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 3px 3px 6px 0 #A9A9A9;
  background: #F5F5F5;
}

.exp {
  margin-top: 70px;
  margin-right: 200px;
  margin-left: 200px;
  border: 1px solid #C0C0C0;;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 3px 3px 6px 0 #A9A9A9;
  background: #F5F5F5;
}

.tel {
  margin-left: -137px;
}
